@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
figure, blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
  font-size: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  html {
    font-size: min(1.1111111111vw, 16px);
  }
}

body {
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.75rem;
  z-index: 20;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .l-header {
    height: 6.5rem;
  }
}

.l-header__inner {
  padding-inline: 0.9375rem;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .l-header__inner {
    padding-inline: 2.8125rem 2.125rem;
    max-width: 1440px;
  }
}

.c-inner {
  padding-inline: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .c-inner {
    padding-inline: 1.875rem;
    max-width: 65.75rem;
    margin: 0 auto;
  }
}

.c-btn-action {
  background: #ff8b71;
  -webkit-box-shadow: 0 0 0.1875rem 0 rgba(83, 46, 37, 0.25);
          box-shadow: 0 0 0.1875rem 0 rgba(83, 46, 37, 0.25);
  color: #ffffff;
  font-weight: 700;
  line-height: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media screen and (min-width: 768px) {
  .c-btn-action:hover {
    color: #ff8b71;
    background: #ffffff;
  }
}
.c-btn-action--header {
  width: 8rem;
  padding-block: 0.53125rem;
  padding-left: 0.5rem;
  border-radius: 2rem;
  gap: 0.468125rem;
}
@media screen and (min-width: 768px) {
  .c-btn-action--header {
    width: 10rem;
    height: 3.5rem;
    padding-left: 0.1875rem;
    line-height: 1.2; /* 19.2px */
    letter-spacing: 0.2rem;
  }
}
.c-btn-action--header:after {
  content: "";
  display: inline-block;
  width: 0.5625rem;
  height: 0.9375rem;
  background: url("../img/common/btn-arrow-sp.svg") no-repeat center center/contain;
}
@media screen and (min-width: 768px) {
  .c-btn-action--header:after {
    display: none;
  }
}
.c-btn-action--circle {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 50%;
  width: 4.4375rem;
  height: 4.4375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .c-btn-action--circle {
    width: 9.5rem;
    height: 9.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;
    padding-top: 0;
    padding-right: 0.375rem;
  }
}
@media screen and (min-width: 768px) {
  .c-btn-action--circle:hover::after {
    background: url("../img/common/btn-arrow-pc-hover.svg") no-repeat center center/contain;
  }
}
.c-btn-action--circle span {
  font-size: 0.875rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .c-btn-action--circle span {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 768px) {
  .c-btn-action--circle:after {
    content: "";
    display: inline-block;
    width: 0.6833125rem;
    height: 1.27275rem;
    background: url("../img/common/btn-arrow-pc.svg") no-repeat center center/contain;
    margin-left: 0.7375rem;
  }
}
.c-btn-action--cta {
  width: 18.75rem;
  height: 3.5rem;
  font-size: 1.375rem;
  border-radius: 2rem;
  padding-bottom: 0.0625rem;
  padding-left: 0.75rem;
}
@media screen and (min-width: 768px) {
  .c-btn-action--cta {
    width: 25rem;
    height: 5.5rem;
    font-size: 1.875rem;
    border-radius: 3.27525rem;
  }
}
.c-btn-action--cta span {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .c-btn-action--cta span {
    font-size: 1.7545625rem;
  }
}
.c-btn-action--cta:after {
  content: "";
  display: inline-block;
  width: 1.2866875rem;
  height: 1.2866875rem;
  background: url("../img/common/btn-arrow-pc.svg") no-repeat center center/contain;
  margin-left: 0.5rem;
}

.c-cta-card {
  background: url("../img/cta-card/cta-card-bg-sp.jpg") no-repeat center center/cover;
  padding-block: 1.5rem;
}
@media screen and (min-width: 768px) {
  .c-cta-card {
    background: url("../img/cta-card/cta-card-bg-pc.jpg") no-repeat center center/cover;
    padding-block: 2.5rem 2.6875rem;
  }
}

.c-cta-card__box {
  text-align: center;
  margin-inline: auto;
  width: 100%;
  padding-top: 1.875rem;
  padding-bottom: 3.875rem;
  position: relative;
  border-radius: 1rem;
  background: url("../img/cta-card/cta-card-box-sp.png") no-repeat center center/cover;
  -webkit-box-shadow: 0px 0px 4px 0px #dae4ee;
          box-shadow: 0px 0px 4px 0px #dae4ee;
}
@media screen and (min-width: 768px) {
  .c-cta-card__box {
    max-width: 53.5rem;
    padding-top: 3.0625rem;
    padding-bottom: 6.375rem;
    background: url("../img/cta-card/cta-card-box-pc.png") no-repeat center center/cover;
  }
}

.c-cta-card__lead {
  font-weight: 700;
  line-height: 1.2;
  margin-left: 3.0825rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1875rem;
}
@media screen and (min-width: 768px) {
  .c-cta-card__lead {
    font-size: 1.5rem;
    margin-left: 0;
    gap: 0.5rem;
  }
}
.c-cta-card__lead::before, .c-cta-card__lead::after {
  content: "";
  width: 0.4375rem;
  height: 1.0625rem;
}
@media screen and (min-width: 768px) {
  .c-cta-card__lead::before, .c-cta-card__lead::after {
    width: 0.625rem;
    height: 1.375rem;
  }
}
.c-cta-card__lead::before {
  background: url("../img/cta-card/cta-card-bar-left.svg") no-repeat center center/contain;
}
.c-cta-card__lead::after {
  background: url("../img/cta-card/cta-card-bar-right.svg") no-repeat center center/contain;
}

.c-cta-card__highlight {
  margin-top: 0.375rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.125rem;
  padding-bottom: 0.34375rem;
  border-bottom: 1px dashed #ffffff;
}
@media screen and (min-width: 768px) {
  .c-cta-card__highlight {
    margin-top: 1rem;
    gap: 0.5rem;
    padding-bottom: 0.46875rem;
    border-bottom: 2px dashed #ffffff;
  }
}

.c-cta-card__label {
  padding-top: 1.00625rem;
  text-shadow: 0px 2.132px 2.132px rgba(255, 255, 255, 0.25);
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.11875rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .c-cta-card__label {
    padding-top: 1.8125rem;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    font-size: 2.5rem;
    letter-spacing: 0;
  }
}
.c-cta-card__label::before {
  position: absolute;
  content: "";
  background: url("../img/cta-card/cta-card-dot-sp.svg") no-repeat center center/cover;
  width: 4.8978125rem;
  height: 0.25rem;
  top: 0.65625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .c-cta-card__label::before {
    background: url("../img/cta-card/cta-card-dot-pc.svg") no-repeat center center/cover;
    width: 10.4375rem;
    height: 0.4375rem;
    top: 1.1875rem;
  }
}

.c-cta-card__free {
  text-shadow: 0px 2.132px 2.132px rgba(255, 255, 255, 0.25);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .c-cta-card__free {
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    font-size: 4rem;
  }
}

.c-cta-card__sub {
  margin-top: 0.34375rem;
  margin-left: 0.375rem;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.375rem;
}
@media screen and (min-width: 768px) {
  .c-cta-card__sub {
    margin-top: 0.46875rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
  }
}

.c-cta-card__note {
  position: absolute;
  display: block;
  width: 100%;
  padding-block: 0.21875rem;
  background: #ffffff;
  bottom: 0.936875rem;
  left: 0;
  color: #6c6e6f;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.04875rem;
}
@media screen and (min-width: 768px) {
  .c-cta-card__note {
    font-size: 0.875rem;
    padding-block: 0.5rem;
    bottom: 1rem;
    letter-spacing: 0;
  }
}

.c-cta-card__btn {
  position: absolute;
  top: 3.75rem;
  right: 0.5rem;
}
@media screen and (min-width: 768px) {
  .c-cta-card__btn {
    top: 5.6875rem;
    right: 3.5625rem;
  }
}

.c-cta-card__product {
  position: absolute;
  width: 4.836875rem;
  top: 1.5rem;
  left: 0.34rem;
}
@media screen and (min-width: 768px) {
  .c-cta-card__product {
    width: 9.4375rem;
    top: 3.29875rem;
    left: 3.125rem;
  }
}

.c-title-simple {
  text-align: center;
  font-family: "Noto Serif JP", serif;
  font-size: 1.5rem;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .c-title-simple {
    margin-left: 0;
    font-size: 2.5rem;
    letter-spacing: 0.075rem;
  }
}

.c-title-bubble {
  text-align: center;
}

.c-title-bubble__text {
  font-family: "Noto Serif JP", serif;
  font-size: 1.5rem;
  line-height: normal;
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 768px) {
  .c-title-bubble__text {
    font-size: 2.5rem;
    letter-spacing: 0.075rem;
  }
}
.c-title-bubble__text::before, .c-title-bubble__text::after {
  position: absolute;
  content: "";
  display: block;
  width: 1.557625rem;
  height: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  top: 50%;
}
@media screen and (min-width: 768px) {
  .c-title-bubble__text::before, .c-title-bubble__text::after {
    width: 2.0625rem;
    height: 3.310375rem;
  }
}
.c-title-bubble__text::before {
  background: url("../img/common/bubble-left.png") no-repeat center center/contain;
  left: -0.5rem;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}
.c-title-bubble__text::after {
  background: url("../img/common/bubble-right.png") no-repeat center center/contain;
  right: -0.5rem;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.c-balloon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4375rem;
}
@media screen and (min-width: 768px) {
  .c-balloon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
}
.c-balloon .c-balloon__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 3.125rem;
}
@media screen and (min-width: 768px) {
  .c-balloon .c-balloon__icon {
    width: 5.625rem;
  }
}
.c-balloon .c-balloon__body {
  position: relative;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 29, 104, 0.25));
          filter: drop-shadow(0px 0px 4px rgba(0, 29, 104, 0.25));
}
.c-balloon .c-balloon__text {
  width: 17.9375rem;
  padding: 1rem 1rem;
  border-radius: 1.5rem;
  background: #ffffff;
  font-size: 0.9375rem;
  letter-spacing: -0.009375rem;
  line-height: 1.74;
  text-align: justify;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .c-balloon .c-balloon__text {
    width: auto;
    max-width: 45.875rem;
    font-size: 1.25rem;
    line-height: 1.7;
    letter-spacing: 0.0375rem;
  }
}
.c-balloon .c-balloon__tail {
  position: absolute;
  width: 1.0625rem;
  height: 2rem;
  background: url("../img/common/triangle-left.svg") no-repeat center center/contain;
  top: 0.75rem;
  left: -0.75rem;
}
.c-balloon .c-balloon__highlight {
  font-weight: 700;
  background: #c6ecec;
}
.c-balloon--w294 {
  gap: 0.875rem;
}
@media screen and (min-width: 768px) {
  .c-balloon--w294 {
    gap: 1.5rem;
  }
}
.c-balloon--w294 .c-balloon__icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.c-balloon--w294 .c-balloon__text {
  width: 18.375rem;
}
@media screen and (min-width: 768px) {
  .c-balloon--w294 .c-balloon__text {
    width: auto;
  }
}
.c-balloon--w271 {
  gap: 1.09375rem;
}
@media screen and (min-width: 768px) {
  .c-balloon--w271 {
    gap: 1.5rem;
  }
}
.c-balloon--w271 .c-balloon__text {
  width: 16.9375rem;
}
@media screen and (min-width: 768px) {
  .c-balloon--w271 .c-balloon__text {
    width: auto;
  }
}
.c-balloon--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.c-balloon--reverse .c-balloon__tail {
  background: url("../img/common/triangle-right.svg") no-repeat center center/contain;
  top: 0.75rem;
  left: auto;
  right: -0.75rem;
}

.p-header__logo a {
  display: block;
  width: 9.4375rem;
}
@media screen and (min-width: 768px) {
  .p-header__logo a {
    width: 11.6875rem;
  }
}

.p-header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-header__nav {
    display: block;
    padding-left: 1.125rem;
  }
}

.p-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.96875rem;
}

.p-header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.96875rem;
}
.p-header__nav-item:not(:first-of-type)::before {
  content: "";
  display: block;
  width: 0.0625rem;
  height: 2.0625rem;
  background: #6c6e6f;
}
.p-header__nav-item a {
  display: block;
  color: #6c6e6f;
  font-weight: 500;
  line-height: normal;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.p-header__nav-item a:hover {
  opacity: 0.7;
}

.p-header__tel {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-header__tel {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 1.625rem;
  }
}

.p-header__tel-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.p-header__tel-icon {
  width: 1rem;
}

.p-header__tel-link {
  font-family: Lato;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}

.p-header__tel-time {
  font-size: 0.75rem;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .p-header__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
  }
}

.p-header__btn-document {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-header__btn-document {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-header__btn-entry {
  margin-left: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-header__btn-entry {
    margin-left: 0;
  }
}

.p-header__drawer {
  position: relative;
  width: 1.6875rem;
  height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .p-header__drawer {
    display: none;
  }
}

.p-header__drawer-bar {
  position: absolute;
  display: block;
  width: 1.6875rem;
  height: 0.09375rem;
  background: #333333;
  border-radius: 0.046875rem;
}
.p-header__drawer-bar:nth-child(1) {
  top: 0px;
}
.p-header__drawer-bar:nth-child(2) {
  top: 0.5rem;
}
.p-header__drawer-bar:nth-child(3) {
  top: 1rem;
}

.p-fv {
  position: relative;
  margin-top: 3.75rem;
  background: url("../img/fv/fv-wave-sp.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  background-color: #f4fbfd;
}
@media screen and (min-width: 768px) {
  .p-fv {
    margin-top: 6.5rem;
    background-image: url("../img/fv/fv-wave-pc.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    background-color: #ffffff;
  }
}

.p-fv__inner {
  position: relative;
  z-index: 3;
  padding-top: 1.03125rem;
  padding-bottom: 25.21875rem;
}
@media screen and (min-width: 768px) {
  .p-fv__inner {
    max-width: 1440px;
    margin-inline: auto;
    padding-top: 5.375rem;
    padding-bottom: 22.625rem;
  }
}

.p-fv__catch {
  font-family: "Noto Serif JP", serif;
  font-size: 1.875rem;
  line-height: 1.5; /* 45px */
  margin-left: 5.78125rem;
}
@media screen and (min-width: 768px) {
  .p-fv__catch {
    color: #6c6e6f;
    font-size: 4rem;
    margin-left: 23.0625rem;
  }
}

.p-fv__char-conj {
  font-size: 1.5625rem;
  font-size: 1.5625rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-fv__char-conj {
    font-size: 3rem;
  }
}

.p-fv__char-comma {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-fv__char-comma {
    display: inline;
    font-size: 3rem;
  }
}

.p-fv__vertical-text {
  z-index: 4;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  color: #6c6e6f;
  font-family: "Yomogi", cursive;
  font-size: 1.5rem;
  line-height: 1; /* 24px */
  position: absolute;
  top: 1.3125rem;
  right: 1.5625rem;
  width: 1.8125rem;
  height: 19.5rem;
}
@media screen and (min-width: 768px) {
  .p-fv__vertical-text {
    font-size: 2rem;
    line-height: 1.15625;
    letter-spacing: 0.3125rem;
    height: 30.0625rem;
    top: 1.9375rem;
    right: 3.9375rem;
  }
}

.p-fv__badge-list {
  z-index: 4;
  position: absolute;
  bottom: 0.25rem;
  left: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .p-fv__badge-list {
    bottom: 2rem;
    left: 2.9375rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0.125rem;
  }
}

.p-fv__badge-item {
  display: block;
  width: 10.9375rem;
}
@media screen and (min-width: 768px) {
  .p-fv__badge-item {
    width: 16.9375rem;
  }
}

.fv__product {
  display: none;
}
@media screen and (min-width: 768px) {
  .fv__product {
    display: block;
    position: absolute;
    top: 2.4375rem;
    left: 9.1875rem;
    width: 10.75rem;
  }
}

.p-fv__person {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
}
.p-fv__person img {
  width: 19.9375rem;
}
@media screen and (min-width: 768px) {
  .p-fv__person img {
    width: 43.25rem;
  }
}

.fv__bubble {
  position: absolute;
  width: 1rem;
  top: 2.4375rem;
  right: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .fv__bubble {
    top: 3.8125rem;
    right: 1.3125rem;
  }
}

.p-trouble {
  padding-top: 2.4375rem;
  background: url("../img/trouble/trouble-bg-sp.png") no-repeat center center/cover;
}
@media screen and (min-width: 768px) {
  .p-trouble {
    padding-top: 5rem;
  }
}

.p-trouble__title {
  margin-left: -0.5rem;
}

.p-trouble__content {
  position: relative;
  margin-top: 3.125rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .p-trouble__content {
    margin-top: 1.5rem;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-trouble__image {
  position: absolute;
  display: block;
  bottom: 0;
  left: -0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-trouble__image {
    position: relative;
    width: 367.908px;
    bottom: auto;
    left: auto;
  }
}
.p-trouble__image img {
  width: 10.18375rem;
}
@media screen and (min-width: 768px) {
  .p-trouble__image img {
    width: 22.99425rem;
  }
}

.p-trouble__boxes {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.1875rem;
}
@media screen and (min-width: 768px) {
  .p-trouble__boxes {
    gap: 1.8125rem;
    margin-top: 1.9375rem;
  }
}

.p-trouble__box {
  width: 15.5624375rem;
  padding: 0.529625rem 0 0.529625rem 0.4375rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #6c6e6f;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.395rem;
}
@media screen and (min-width: 768px) {
  .p-trouble__box {
    width: 35rem;
    padding: 24px 24px 24px 80px;
    padding: 1.4375rem 0 1.4375rem 4.9375rem;
    border-radius: 1rem;
    gap: 1rem;
  }
}
.p-trouble__box::before {
  content: "";
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  background: url("../img/trouble/trouble-check-box.svg") no-repeat center center/contain;
}
@media screen and (min-width: 768px) {
  .p-trouble__box::before {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.p-trouble__box:nth-of-type(3)::before {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .p-trouble__box:nth-of-type(3)::before {
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 0;
  }
}

.p-trouble__message {
  line-height: 1.3;
  letter-spacing: -0.03rem;
}
@media screen and (min-width: 768px) {
  .p-trouble__message {
    font-size: 1.5rem;
    letter-spacing: 0.045rem;
  }
}

.p-trouble__note {
  background: #82bfed;
  text-align: center;
  font-size: 1.0625rem;
  line-height: 1.3;
  letter-spacing: -0.031875rem;
  padding-block: 1.0625rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-trouble__note {
    background: rgba(130, 191, 237, 0.4);
    padding-block: 1.5625rem 2.0625rem;
    font-size: 2rem;
    line-height: 1.7;
    letter-spacing: 0.06rem;
  }
}

.p-trouble__char-comma {
  font-weight: inherit;
  letter-spacing: -0.584375rem;
}
@media screen and (min-width: 768px) {
  .p-trouble__char-comma {
    letter-spacing: inherit;
  }
}

@media screen and (min-width: 768px) {
  .p-solution {
    background: url("../img/solution/solution-bg-pc.jpg") no-repeat top center/cover;
  }
}

.p-solution__top {
  padding-bottom: 2.375rem;
}
@media screen and (min-width: 768px) {
  .p-solution__top {
    padding-bottom: 0;
  }
}

.p-solution__triangle {
  display: block;
}
.p-solution__triangle img {
  display: block;
  margin-inline: auto;
  width: 2.8125rem;
}
@media screen and (min-width: 768px) {
  .p-solution__triangle img {
    width: 5.625rem;
  }
}

.p-solution__title {
  margin-top: 2.4375rem;
}

.p-solution__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .p-solution__title-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.p-solution__title-wrapper > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-solution__title-image {
  width: 9.4375rem;
  margin-right: 0.5rem;
}
@media screen and (min-width: 768px) {
  .p-solution__title-image {
    width: 11.6875rem;
    margin-left: 0.5rem;
  }
}

.p-solution__lead {
  text-align: center;
  letter-spacing: 0.03rem;
}
@media screen and (min-width: 768px) {
  .p-solution__lead {
    margin-top: -4px;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.045rem;
  }
}

.p-solution__features {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .p-solution__features {
    margin-top: 5rem;
    width: 51.5625rem;
    margin-inline: auto;
  }
}

.p-solution__feature {
  width: 7.375rem;
  height: 7.375rem;
  background: url("../img/solution/solution-circle.png") no-repeat center center/contain;
  display: grid;
  place-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-solution__feature {
    width: 14.75rem;
    height: 14.75rem;
    font-size: 1.5rem;
  }
}

.p-solution__bottom {
  background: url("../img/solution/solution-bg-sp.jpg") no-repeat top center/cover;
  padding-top: 1rem;
  padding-bottom: 2.4375rem;
}
@media screen and (min-width: 768px) {
  .p-solution__bottom {
    background: none;
    padding-top: 0;
    padding-bottom: 5.125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-solution__box {
    margin-top: 5rem;
    padding: 2.5rem 2.3125rem;
    border-radius: 2.5rem;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(180, 221, 232, 0.25);
            box-shadow: 0px 4px 4px 0px rgba(180, 221, 232, 0.25);
  }
}

@media screen and (min-width: 768px) {
  .p-solution__question {
    font-size: 2rem;
    line-height: 1.7;
    letter-spacing: 0.06rem;
  }
}

.p-solution__balloons {
  margin-top: 2.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .p-solution__balloons {
    margin-top: 2.8125rem;
  }
}

.p-solution__balloon {
  border-radius: 24px;
  background: var(--White, #fff);
  -webkit-box-shadow: 0px 0px 2.163px 0px rgba(0, 29, 104, 0.25);
          box-shadow: 0px 0px 2.163px 0px rgba(0, 29, 104, 0.25);
  padding: 1.25rem 0.375rem 0.1875rem;
}
@media screen and (min-width: 768px) {
  .p-solution__balloon {
    max-width: 50.625rem;
    margin-inline: auto;
    padding: 2.125rem 4.3125rem 1rem;
  }
}

.p-solution__balloon-list {
  display: grid;
  grid-template-columns: 1fr 7.1875rem 1fr;
  gap: 0.375rem;
}
@media screen and (min-width: 768px) {
  .p-solution__balloon-list {
    gap: 1.875rem;
    grid-template-columns: 1fr 13.75rem 1fr;
  }
}

.p-solution__balloon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-solution__balloon-item--highlight .p-solution__balloon-title {
  color: #ffffff;
  background: #ff8b71;
}
.p-solution__balloon-item--highlight .p-solution__balloon-text {
  margin-top: 0.4375rem;
}
@media screen and (min-width: 768px) {
  .p-solution__balloon-item--highlight .p-solution__balloon-text {
    margin-top: 0.9375rem;
  }
}

.p-solution__balloon-title {
  display: inline-block;
  font-size: 0.8125rem;
  line-height: 1.3;
  border-radius: 1.0815rem;
  background: #c6ecec;
  padding: 0.25rem 0.75rem;
}
@media screen and (min-width: 768px) {
  .p-solution__balloon-title {
    font-size: 1.5rem;
    letter-spacing: 0.045rem;
    border-radius: 2rem;
    padding: 0.5rem 1.46875rem;
  }
}

.p-solution__balloon-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 7.6875rem;
}
@media screen and (min-width: 768px) {
  .p-solution__balloon-image {
    height: 15.5rem;
  }
}
.p-solution__balloon-image img {
  width: 6.875rem;
}
@media screen and (min-width: 768px) {
  .p-solution__balloon-image img {
    width: 12.25rem;
  }
}

.p-solution__balloon-text {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .p-solution__balloon-text {
    font-size: 1rem;
    line-height: normal;
  }
}

.p-solution__balloon-note {
  margin-top: 0.125rem;
  font-size: 0.625rem;
  line-height: normal;
  text-align: right;
  margin-right: 0.6875rem;
}
@media screen and (min-width: 768px) {
  .p-solution__balloon-note {
    margin-top: 0.125rem;
    font-size: 10px;
    font-size: 0.625rem;
    margin-right: -3.8125rem;
  }
}

.p-point {
  padding-top: 3.4375rem;
  padding-bottom: 3.3125rem;
}
@media screen and (min-width: 768px) {
  .p-point {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-point__title {
    margin-left: 1.1875rem;
  }
}

.p-point__list {
  margin-top: 1.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.75rem;
}
@media screen and (min-width: 768px) {
  .p-point__list {
    margin-top: 2.5rem;
    gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .p-point__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .p-point__item--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .p-point__item:nth-of-type(2) {
    height: 17.75rem;
  }
  .p-point__item:nth-of-type(2) .p-point__image {
    width: 15.9375rem;
  }
  .p-point__item:nth-of-type(3) .p-point__text {
    width: 39.375rem;
  }
  .p-point__item:nth-of-type(4) .p-point__lead {
    margin-top: 0.75rem;
  }
}

.p-point__label {
  margin-left: -0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .p-point__label--sp {
    display: none;
  }
}
.p-point__label--pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-point__label--pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-point__label-tag {
  z-index: 2;
  background: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: normal;
  text-transform: uppercase;
}

.p-point__label-num {
  margin-left: -1.5625rem;
  color: #82bfed;
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-point__image {
  margin-top: -0.125rem;
}
@media screen and (min-width: 768px) {
  .p-point__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 19.375rem;
  }
}

@media screen and (min-width: 768px) {
  .p-point__content {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 40.625rem;
  }
}

.p-point__lead {
  margin-top: 1.5rem;
  color: #2273ae;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .p-point__lead {
    margin-top: 0.375rem;
    font-size: 1.5rem;
    line-height: 1.7;
    letter-spacing: 0.045rem;
  }
}

.p-point__text {
  margin-top: 1rem;
  text-align: justify;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  overflow-wrap: anywhere; /* 収まらない場合に折り返す */
  word-break: normal; /* 単語の分割はデフォルトに依存 */
  line-break: strict; /* 禁則処理を厳格に適用 */
}
@media screen and (min-width: 768px) {
  .p-point__text {
    margin-top: 1.5rem;
    font-size: 1.125rem;
    letter-spacing: 0.03375rem;
  }
}

.p-point__note {
  color: #6c6e6f;
}

.p-cta {
  position: relative;
  padding-bottom: 2.5625rem;
}
@media screen and (min-width: 768px) {
  .p-cta {
    padding-bottom: 3.5rem;
  }
}

.p-cta__wave {
  position: absolute;
  width: 100%;
  height: 1rem;
  background: url("../img/cta/cta-wave-sp.png") no-repeat center center/cover;
  top: -0.8125rem;
  left: 0;
}
@media screen and (min-width: 768px) {
  .p-cta__wave {
    position: relative;
    height: 50px;
    background: url("../img/cta/cta-wave-pc.png") no-repeat center center/cover;
    top: auto;
    left: auto;
  }
}

.p-cta__bg {
  background: #c6ecec;
  padding-top: 3.5625rem;
  padding-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .p-cta__bg {
    padding-top: 2.3125rem;
    padding-bottom: 5.875rem;
  }
}

.p-cta__title-text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: -0.045rem;
}
@media screen and (min-width: 768px) {
  .p-cta__title-text {
    font-size: 2rem;
    line-height: 1.7;
    letter-spacing: 0.06rem;
  }
}
@media screen and (min-width: 768px) {
  .p-cta__title-text::before {
    left: -0.875rem;
  }
}
@media screen and (min-width: 768px) {
  .p-cta__title-text::after {
    right: -0.875rem;
  }
}

.p-cta__title-text-strong {
  font-weight: 700;
}

.p-cta__buttons {
  margin-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.9375rem;
}
@media screen and (min-width: 768px) {
  .p-cta__buttons {
    margin-top: 2.59375rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-cta__button-group {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-cta__button-group:nth-of-type(1) .p-cta__label {
    margin-left: 0.375rem;
  }
}
@media screen and (min-width: 768px) {
  .p-cta__button-group:nth-of-type(2) .p-cta__label {
    margin-left: -1.0625rem;
  }
}

.p-cta__label {
  font-weight: 700;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4375rem;
}
@media screen and (min-width: 768px) {
  .p-cta__label {
    font-size: 1.5rem;
    line-height: 1.7;
    letter-spacing: 0.045rem;
    margin-top: 0rem;
  }
}
.p-cta__label::before, .p-cta__label::after {
  content: "";
  display: block;
  width: 0.5625rem;
  height: 1.4375rem;
}
@media screen and (min-width: 768px) {
  .p-cta__label::before, .p-cta__label::after {
    width: 0.625rem;
    height: 1.4375rem;
  }
}
.p-cta__label::before {
  background: url("../img/cta/cta-line-left.svg") no-repeat center center/contain;
}
.p-cta__label::after {
  background: url("../img/cta/cta-line-right.svg") no-repeat center center/contain;
}

.p-cta__button {
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .p-cta__button {
    margin-top: 0.6875rem;
  }
}

.p-cta__image {
  position: absolute;
  width: 4.8125rem;
  bottom: 0.0625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .p-cta__image {
    width: 10.3601875rem;
    bottom: 0.3125rem;
    left: 476px;
    left: calc(50% + 29.75rem);
    -webkit-transform: none;
            transform: none;
  }
}

.u-hidden-sp {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-hidden-sp {
    display: block;
  }
}

.u-hidden-pc {
  display: block;
}
@media screen and (min-width: 768px) {
  .u-hidden-pc {
    display: none;
  }
}