@use "../global" as global;

.c-btn-action {
  background: global.$color-accent-1;
  box-shadow: 0 0 global.rem(3px) 0 rgba(83, 46, 37, 0.25);
  color: global.$color-text-white;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;

  &:hover {
    @include global.mq(pc) {
      color: global.$color-accent-1;
      background: global.$color-base-1;
    }
  }

  &--header {
    width: global.rem(128px);
    padding-block: global.rem(8.5px);
    padding-left: global.rem(8px);
    border-radius: global.rem(32px);
    gap: global.rem(7.49px);

    @include global.mq(pc) {
      width: global.rem(160px);
      height: global.rem(56px);
      padding-left: global.rem(3px);
      line-height: 1.2; /* 19.2px */
      letter-spacing: global.rem(3.2px);
    }

    &:after {
      content: "";
      display: inline-block;
      width: global.rem(9px);
      height: global.rem(15px);
      background: url("../img/common/btn-arrow-sp.svg") no-repeat center center /
        contain;

      @include global.mq(pc) {
        display: none;
      }
    }
  }

  &--drawer {
  }

  &--circle {
    box-shadow: none;
    border-radius: 50%;
    width: global.rem(71px);
    height: global.rem(71px);
    flex-direction: column;
    font-size: global.rem(14px);
    font-weight: 700;
    line-height: 1.2;
    padding-top: global.rem(5px);

    @include global.mq(pc) {
      width: global.rem(152px);
      height: global.rem(152px);
      flex-direction: row;
      font-size: global.rem(18px);
      font-weight: 400;
      line-height: 1.2;
      padding-top: 0;
      padding-right: global.rem(6px);
    }

    &:hover {
      &::after {
        @include global.mq(pc) {
          background: url("../img/common/btn-arrow-pc-hover.svg") no-repeat
            center center / contain;
        }
      }
    }

    span {
      font-size: global.rem(14px);
      font-weight: 400;

      @include global.mq(pc) {
        font-size: global.rem(18px);
      }
    }

    &:after {
      @include global.mq(pc) {
        content: "";
        display: inline-block;
        width: global.rem(10.933px);
        height: global.rem(20.364px);
        background: url("../img/common/btn-arrow-pc.svg") no-repeat center
          center / contain;
        margin-left: global.rem(11.8px);
      }
    }
  }

  &--cta {
    width: global.rem(300px);
    height: global.rem(56px);
    font-size: global.rem(22px);
    border-radius: global.rem(32px);

    @include global.mq(pc) {
      width: global.rem(400px);
      height: global.rem(88px);
      font-size: global.rem(30px);
      border-radius: global.rem(52.404px);
    }

    span {
      font-size: global.rem(20px);

      @include global.mq(pc) {
        font-size: global.rem(28.073px);
      }
    }

    &:after {
      content: "";
      display: inline-block;
      width: global.rem(20.587px);
      height: global.rem(20.587px);
      background: url("../img/common/btn-arrow-pc.svg") no-repeat center center /
        contain;
      margin-left: global.rem(8px);
    }
  }
}
