@use "../global" as global;

.c-balloon {
  display: flex;
  gap: global.rem(7px);

  @include global.mq(pc) {
    align-items: center;
    gap: global.rem(24px);
  }

  .c-balloon__icon {
    flex-shrink: 0;
    width: global.rem(50px);

    @include global.mq(pc) {
      width: global.rem(90px);
    }
  }

  .c-balloon__body {
    position: relative;
    filter: drop-shadow(0px 0px 4px rgba(0, 29, 104, 0.25));
  }

  .c-balloon__text {
    width: global.rem(287px);
    padding: global.rem(16px) global.rem(16px);
    border-radius: global.rem(24px);
    background: global.$color-base-1;
    font-size: global.rem(15px);
    letter-spacing: global.rem(-0.15px);
    line-height: 1.74;
    text-align: justify;
    position: relative;
    z-index: 2;

    @include global.mq(pc) {
      width: auto;
      max-width: global.rem(734px);
      font-size: global.rem(20px);
      line-height: 1.7;
      letter-spacing: global.rem(0.6px);
    }
  }

  .c-balloon__tail {
    position: absolute;
    width: global.rem(17px);
    height: global.rem(32px);
    background: url("../img/common/triangle-left.svg") no-repeat center center /
      contain;
    top: global.rem(12px);
    left: global.rem(-12px);
  }

  .c-balloon__highlight {
    font-weight: 700;
    background: global.$color-accent-3;
  }

  &--w294 {
    gap: global.rem(14px);

    @include global.mq(pc) {
      gap: global.rem(24px);

    }

    .c-balloon__icon {
      align-self: flex-start;
    }

    .c-balloon__text {
      width: global.rem(294px);

      @include global.mq(pc) {
        width: auto;
      }
    }
  }

  &--w271 {
    gap: global.rem(17.5px);

    @include global.mq(pc) {
      gap: global.rem(24px);

    }

    .c-balloon__text {
      width: global.rem(271px);

      @include global.mq(pc) {
        width: auto;
      }
    }
  }

  &--reverse {
    flex-direction: row-reverse;

    .c-balloon__tail {
      background: url("../img/common/triangle-right.svg") no-repeat center
        center / contain;
      top: global.rem(12px);
      left: auto;
      right: global.rem(-12px);
    }
  }
}
