@use "../global" as global;

.c-cta-card {
  background: url("../img/cta-card/cta-card-bg-sp.jpg") no-repeat center center /
    cover;
  padding-block: global.rem(24px);

  @include global.mq(pc) {
    background: url("../img/cta-card/cta-card-bg-pc.jpg") no-repeat center
      center / cover;

    padding-block: global.rem(40px) global.rem(43px);
  }
}

.c-cta-card__box {
  text-align: center;
  margin-inline: auto;
  width: 100%;
  padding-top: global.rem(30px);
  padding-bottom: global.rem(62px);
  position: relative;
  border-radius: global.rem(16px);
  background: url("../img/cta-card/cta-card-box-sp.png") no-repeat center center /
    cover;
  box-shadow: 0px 0px 4px 0px #dae4ee;

  @include global.mq(pc) {
    max-width: global.rem(856px);
    padding-top: global.rem(49px);
    padding-bottom: global.rem(102px);
    background: url("../img/cta-card/cta-card-box-pc.png") no-repeat center
      center / cover;
  }
}

.c-cta-card__lead {
  font-weight: 700;
  line-height: 1.2;
  margin-left: global.rem(49.32px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: global.rem(3px);

  @include global.mq(pc) {
    font-size: global.rem(24px);
    margin-left: 0;
    gap: global.rem(8px);

  }

  &::before,
  &::after {
    content: "";
    width: global.rem(7px);
    height: global.rem(17px);

    @include global.mq(pc) {
      width: global.rem(10px);
      height: global.rem(22px);
    }
  }

  &::before {
    background: url("../img/cta-card/cta-card-bar-left.svg") no-repeat center
      center / contain;
  }

  &::after {
    background: url("../img/cta-card/cta-card-bar-right.svg") no-repeat center
      center / contain;
  }
}

.c-cta-card__highlight {
  margin-top: global.rem(6px);
  display: inline-flex;
  justify-content: center;
  gap: global.rem(2px);
  padding-bottom: global.rem(5.5px);
  border-bottom: 1px dashed global.$color-base-1;

  @include global.mq(pc) {
    margin-top: global.rem(16px);
    gap: global.rem(8px);
    padding-bottom: global.rem(7.5px);
    border-bottom: 2px dashed global.$color-base-1;
  }
}

.c-cta-card__label {
  padding-top: global.rem(16.1px);
  text-shadow: 0px 2.132px 2.132px rgba(255, 255, 255, 0.25);
  font-size: global.rem(19px);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: global.rem(1.9px);
  position: relative;

  @include global.mq(pc) {
    padding-top: global.rem(29px);
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    font-size: global.rem(40px);
    letter-spacing: 0;

  }

  &::before {
    position: absolute;
    content: "";
    background: url("../img/cta-card/cta-card-dot-sp.svg") no-repeat center
      center / cover;
    width: global.rem(78.365px);
    height: global.rem(4px);
    top: global.rem(10.5px);
    left: 50%;
    transform: translateX(-50%);

    @include global.mq(pc) {
      background: url("../img/cta-card/cta-card-dot-pc.svg") no-repeat center
        center / cover;
      width: global.rem(167px);
      height: global.rem(7px);
      top: global.rem(19px);
    }
  }
}

.c-cta-card__free {
  text-shadow: 0px 2.132px 2.132px rgba(255, 255, 255, 0.25);
  font-size: global.rem(40px);
  font-weight: 700;
  line-height: 1.2;

  @include global.mq(pc) {
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    font-size: global.rem(64px);
  }
}

.c-cta-card__sub {
  margin-top: global.rem(5.5px);
  margin-left: global.rem(6px);
  font-size: global.rem(15px);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: global.rem(6px);

  @include global.mq(pc) {
    margin-top: global.rem(7.5px);
    font-size: global.rem(32px);
    font-weight: 700;
    letter-spacing: global.rem(6.4px);
  }
}

.c-cta-card__note {
  position: absolute;
  display: block;
  width: 100%;
  padding-block: global.rem(3.5px);
  background: global.$color-base-1;
  bottom: global.rem(14.99px);
  left: 0;
  color: global.$color-text-gray;
  font-size: global.rem(13px);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: global.rem(0.78px);

  @include global.mq(pc) {
    font-size: global.rem(14px);
    padding-block: global.rem(8px);
    bottom: global.rem(16px);
    letter-spacing: 0;
  }
}

.c-cta-card__btn {
  position: absolute;
  top: global.rem(60px);
  right: global.rem(8px);

  @include global.mq(pc) {
    top: global.rem(91px);
    right: global.rem(57px);
  }
}

.c-cta-card__product {
  position: absolute;
  width: global.rem(77.39px);
  top: global.rem(24px);
  left: global.rem(5.44px);

  @include global.mq(pc) {
    width: global.rem(151px);
    top: global.rem(52.78px);
    left: global.rem(50px);
  }
}
