@use "../global" as global;

.p-solution {
  @include global.mq(pc) {
    background: url("../img/solution/solution-bg-pc.jpg") no-repeat top center /
      cover;
  }
}

.p-solution__top {
  padding-bottom: global.rem(38px);

  @include global.mq(pc) {
    padding-bottom: 0;
  }
}

.p-solution__top-inner {
}

.p-solution__triangle {
  display: block;

  img {
    display: block;
    margin-inline: auto;
    width: global.rem(45px);

    @include global.mq(pc) {
      width: global.rem(90px);
    }
  }
}

.p-solution__title {
  margin-top: global.rem(39px);
}

.p-solution__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include global.mq(pc) {
    flex-direction: row;
  }

  & > span {
    display: flex;
    align-items: center;
  }
}

.p-solution__title-image {
  width: global.rem(151px);
  margin-right: global.rem(8px);

  @include global.mq(pc) {
    width: global.rem(187px);
    margin-left: global.rem(8px);
  }
}

.p-solution__lead {
  text-align: center;
  letter-spacing: global.rem(0.48px);

  @include global.mq(pc) {
    margin-top: -4px;
    font-size: global.rem(24px);
    font-style: normal;
    line-height: 1.3;
    letter-spacing: global.rem(0.72px);
  }
}

.p-solution__features {
  margin-top: global.rem(30px);
  display: flex;
  justify-content: space-between;

  @include global.mq(pc) {
    margin-top: global.rem(80px);
    width: global.rem(825px);
    margin-inline: auto;
  }
}

.p-solution__feature {
  width: global.rem(118px);
  height: global.rem(118px);
  background: url("../img/solution/solution-circle.png") no-repeat center center /
    contain;
  display: grid;
  place-items: center;
  text-align: center;
  color: global.$color-text-white;
  font-size: global.rem(13px);
  font-weight: 700;
  line-height: 1.5;

  @include global.mq(pc) {
    width: global.rem(236px);
    height: global.rem(236px);
    font-size: global.rem(24px);
  }
}

.p-solution__bottom {
  background: url("../img/solution/solution-bg-sp.jpg") no-repeat top center /
    cover;
  padding-top: global.rem(16px);
  padding-bottom: global.rem(39px);

  @include global.mq(pc) {
    background: none;
    padding-top: 0;
    padding-bottom: global.rem(82px);
  }
}

.p-solution__bottom-inner {
}

.p-solution__box {
  @include global.mq(pc) {
    margin-top: global.rem(80px);
    padding: global.rem(40px) global.rem(37px);
    border-radius: global.rem(40px);
    background: global.$color-base-1;
    box-shadow: 0px 4px 4px 0px rgba(180, 221, 232, 0.25);
  }
}

.p-solution__question {
  @include global.mq(pc) {
    font-size: global.rem(32px);
    line-height: 1.7;
    letter-spacing: global.rem(0.96px);
  }
}

.p-solution__balloons {
  margin-top: global.rem(41px);
  display: flex;
  flex-direction: column;
  gap: global.rem(16px);

  @include global.mq(pc) {
    margin-top: global.rem(45px);
  }
}

.p-solution__balloon {
  border-radius: 24px;
  background: var(--White, #fff);
  box-shadow: 0px 0px 2.163px 0px rgba(0, 29, 104, 0.25);
  padding: global.rem(20px) global.rem(6px) global.rem(3px);

  @include global.mq(pc) {
    max-width: global.rem(810px);
    margin-inline: auto;
    padding: global.rem(34px) global.rem(69px) global.rem(16px);
  }
}

.p-solution__balloon-list {
  display: grid;
  grid-template-columns: 1fr global.rem(115px) 1fr;
  gap: global.rem(6px);

  @include global.mq(pc) {
    gap: global.rem(30px);
    grid-template-columns: 1fr global.rem(220px) 1fr;
  }
}

.p-solution__balloon-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--highlight {
    .p-solution__balloon-title {
      color: global.$color-text-white;
      background: global.$color-accent-1;
    }

    .p-solution__balloon-text {
      margin-top: global.rem(7px);

      @include global.mq(pc) {
        margin-top: global.rem(15px);
      }
    }
  }
}

.p-solution__balloon-title {
  display: inline-block;
  font-size: global.rem(13px);
  line-height: 1.3;
  border-radius: global.rem(17.304px);
  background: global.$color-accent-3;
  padding: global.rem(4px) global.rem(12px);

  @include global.mq(pc) {
    font-size: global.rem(24px);
    letter-spacing: global.rem(0.72px);
    border-radius: global.rem(32px);
    padding: global.rem(8px) global.rem(23.5px);
  }
}

.p-solution__balloon-image {
  display: flex;
  align-items: flex-end;
  height: global.rem(123px);

  @include global.mq(pc) {
    height: global.rem(248px);
  }

  img {
    width: global.rem(110px);

    @include global.mq(pc) {
      width: global.rem(196px);
    }
  }
}

.p-solution__balloon-text {
  margin-top: global.rem(16px);
  text-align: center;
  font-size: global.rem(12px);
  line-height: normal;

  @include global.mq(pc) {
    font-size: global.rem(16px);
    line-height: normal;
  }
}

.p-solution__balloon-note {
  margin-top: global.rem(2px);
  font-size: global.rem(10px);
  line-height: normal;
  text-align: right;
  margin-right: global.rem(11px);

  @include global.mq(pc) {
    margin-top: global.rem(2px);
    font-size: 10px;
    font-size: global.rem(10px);
    margin-right: global.rem(-61px);
  }
}
